
<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="../app/assets/css/ace-admin/bootstrap.min.css" />
<link rel="stylesheet" href="../app/assets/css/ace-admin/font-awesome.min.css" />

<!-- text fonts -->
<link rel="stylesheet" href="../app/assets/css/ace-admin/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="../app/assets/css/ace-admin/ace.min.css" />

<!--[if lte IE 9]>
<link rel="stylesheet" href="../app/assets/css/ace-admin/ace-part2.min.css" />
<![endif]-->
<link rel="stylesheet" href="../app/assets/css/ace-admin/ace-rtl.min.css" />

<!--[if lte IE 9]>
<link rel="stylesheet" href="../app/assets/css/ace-admin/ace-ie.min.css" />
<![endif]-->
<link rel="stylesheet" href="../app/assets/css/ace-admin/ace.onpage-help.css" />

<link rel="stylesheet" href="../app/assets/css/gvt/main.css">

<!--[if !IE]>-->
<script type="text/javascript">
  	window.jQuery || document.write("<script src='../app/assets/js/jquery.min.js'>"+"<"+"/script>");
</script>

<!--<![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='../app/assets/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
<script src="../assets/js/html5shiv.js"></script>
<script src="../assets/js/respond.min.js"></script>
<![endif]-->


<script type="text/javascript">
  if('ontouchstart' in document.documentElement) document.write("<script src='../app/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>

<style>
.login-layout {
	background: #FAFAFA;
}

#id-company-text img {
	height: 30px;
	width: auto;
}
</style>


<div class="login-layout light-login">
	<div class="main-container">
		<div class="main-content">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="login-container">
						<div class="center">
							<h1>IPVOD Admin</h1>
							<h4 id="id-company-text">
								<img src="assets/img/logo-gvt.png" alt="GVT">
							</h4>
						</div>

						<div class="space-6"></div>
							
						<div class="position-relative">
							<toaster-container toaster-options="{'time-out': 5000, 'position-class': 'toast-top-center'}"></toaster-container>
							<div id="forgot-box" class="forgot-box widget-box no-border visible">
								<div class="widget-body">
									<div class="widget-main">
										<h4 class="header red lighter bigger">
											<i class="ace-icon fa fa-key"> </i> Recuperar Senha
										</h4>

										<div class="space-6"></div>
										<p>Insira sua nova senha</p>

										<form>
											<fieldset>
												<label class="block clearfix"> 
													<span class="block input-icon input-icon-right">
														<input type="password" class="form-control" placeholder="Senha" 
														 	ng-model="pwRec.password" required/>
														<i class="ace-icon fa fa-lock"></i>
													</span>
												</label>
												<label class="block clearfix"> 
													<span class="block input-icon input-icon-right">
														<input type="password" class="form-control" placeholder="Digite a Senha novamente" 
														 	ng-model="pwRec.password2" required/>
														<i class="ace-icon fa fa-lock"></i>
													</span>
												</label>

												<div class="clearfix">
													<button type="submit" class="width-35 pull-right btn btn-sm btn-danger"
														ng-click="recoverEmail(pwRec)">
														<span class="bigger-110"> Enviar </span>
													</button>
												</div>
											</fieldset>
										</form>
									</div>
									<!-- /.widget-main -->

									<div class="toolbar center">
										<a  href="#/login" class="back-to-login-link"> Retornar ao login </a>
									</div>
								</div>
								<!-- /.widget-body -->
							</div>
							<!-- /.forgot-box -->
							
						</div>
						<!-- /.position-relative -->
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.main-content -->
	</div>
	<!-- /.main-container -->

	<!-- basic scripts -->

</div>
