<div class="page-header">
    <h1>
        Usuário
        <small> 
            <i class="ace-icon fa fa-angle-double-right"></i> 
            <span ng-show="action === 'cadastrar'">Cadastrar</span>
            <span ng-show="action === 'editar'">Editar</span>
        </small>
    </h1>
</div>

<!-- PAGE CONTENT BEGINS -->
<div class="row">
    <div class="col-xs-12">
        <!-- Form Holder -->
        <div class="form-holder">
             <!-- Back button -->
            <span class="back-button" title="voltar">
                <a href="javascript: history.back();"><i class="fa fa-arrow-circle-left"></i></a>            
            </span>
            <!-- End:: Back button -->
            <form name="ngForm" class="form-horizontal">
				<fieldset>
					 <div class="form-group">
		                <div class="col-md-3">
		                    <label class="control-label no-padding-right" for="role">Tipo de registro</label>
		                    <select name="role" id="role" ng-model="userRegister.registerType" ng-options="registerType for registerType in registerTypes" class="form-control"></select>
		                </div>
				    </div>
				    
				     <div class="form-group" ng-show="userRegister.registerType == 'OPERADORAS'">
		                <div class="col-md-3">
		                    <label class="control-label no-padding-right" for="role">Operadora</label>
		                    <select name="role" id="role" ng-model="userRegister.contentProvider" ng-options="contentProvider.providerId for contentProvider in contentProviders" class="form-control"></select>
		                </div>
				    </div>
				    
				    <div class="form-group" >
		                <div class="col-md-6">
		                    <label class="control-label no-padding-right" for="username" ng-show="userRegister.registerType == 'OPERADORAS' || userRegister.registerType == 'ADM'">Login</label>
		                    <label class="control-label no-padding-right" for="username" ng-show="userRegister.registerType == 'GVT'">Matricula</label>
		                    <input name="username" id="username" ng-model="userRegister.username" type="text" class="form-control" required/>
		                </div>
				    </div>
				    		    
				    <div class="form-group" ng-show="userRegister.registerType == 'OPERADORAS' || userRegister.registerType == 'ADM'">
		                <div class="col-md-3">
		                    <label class="control-label no-padding-right" for="password">Senha</label>
		                    <input name="password" id="password" ng-model="userRegister.password" type="password" class="form-control" required/>
		                </div>
		                <div class="col-md-3">
		                    <label class="control-label no-padding-right" for="passwordConfirm">Repetir Senha</label>
		                    <input name="passwordConfirm" id="passwordConfirm" ng-model="userRegister.passwordConfirm" type="password" class="form-control" required/>
		                </div>
				    </div>
				    
				    <div class="form-group" ng-show="userRegister.registerType == 'OPERADORAS'">
		                <div class="col-md-6">
		                    <label class="control-label no-padding-right" for="email">E-mail</label>
		                    <input name="email" id="email" ng-model="userRegister.email" type="email" class="form-control" required/>
		                </div>
				    </div>
				    <div class="form-group" ng-show="userRegister.registerType == 'GVT'">
		                <div class="col-md-3">
		                    <label class="control-label no-padding-right" for="role">Perfil</label>
		                    <select name="role" id="role"  ng-model="userRegister.role"
		                    ng-options="role for role in userRoles" class="form-control"></select>
		                </div>
				    </div>

					<div class="space-6"></div>

					<div class="clearfix form-actions">
					    <div class="col-md-6">
					        <button ng-click="sendForm(userRegister)" type="submit" class="btn btn-primary" >
		                       <i class="ace-icon fa fa-check bigger-110"></i> Enviar
						</button>
		                    
		                    <button class="btn" type="button" ng-click="reset()"> 
		                        <i class="ace-icon fa fa-undo bigger-110"></i> Limpar
		                    </button>
					    </div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
