<!doctype html>
<html class="no-js" id="ng-app" ng-app="vod">
  <head>
    <meta charset="utf-8">
    <title ng-bind="title" >GVT - Video On Demand</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="assets/css/gvt-bootstrap.css">
    <!-- endbuild -->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="../bower_components/es5-shim/es5-shim.js"></script>
    <script src="../bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- ace settings handler -->
    <script src="assets/js/ace-extra.min.js"></script>
  </head>
  <body class="no-skin">
    <!--[if lt IE 10]>
        <div class="no-support-message alert alert-danger no-margin">
            <i class="fa fa-warning"></i>
            O aplicativo não oferece suporte à versão do Internet Explorer que você está utilizando.
            Por favor, <a href="http://browsehappy.com/">atualize</a> para a última versão.
        </div>
    <![endif]-->

    <div class="initialization-box" 
        ng-class="{ 'initialization-box-authenticated': authenticated }">
        <i class="fa fa-circle-o-notch fa-spin"></i> Inicializando aplicação...
    </div>

    <div ng-if="authenticated" class="{{locationClass}}">
        <!-- Header -->
        <div ng-include 
            src="'pages/header/header.html'"
            id="navbar" 
            class="navbar navbar-default" 
            role="navigation"></div>
        <!-- end:: Header -->
        
        <!-- Container -->
        <div class="main-container" id="main-container">
            <!-- Menu -->
            <gvt-menu ng-if="authenticated" id="gvt-menu" class="sidebar responsive"></gvt-menu>
            <!-- end:: Menu -->
            
            <!-- Add your site or application content here -->
            <div class="main-content">
                <!-- Breadcrumb -->
                <div ng-if="authenticated" class="breadcrumbs" id="breadcrumbs">
                    <breadcrumb></breadcrumb>
                </div>
                <!-- end: Breadcrumb -->

                <!-- Loading Widget -->
                <loading-widget></loading-widget>
                <!-- end: Loading Widget -->

                <!-- System Messages -->
                <toaster-container 
                    toaster-options="{'time-out': 3000, 'position-class': 'toast-top-center'}"></toaster-container>
                <!-- end: System Messages -->

                <!-- Page Content -->
                <div class="page-content">
                    <div class="page-content-area" ng-view></div>
                </div>
                <!-- end:: Page Content -->
            </div>
        </div>
        <!-- end:: Container -->
    </div>

    <script type="text/javascript">
        if('ontouchstart' in document.documentElement) {
            document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
        }
    </script>
    
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>

    <script src="../bower_components/bootstrap/js/affix.js"></script>
    <script src="../bower_components/bootstrap/js/alert.js"></script>
    <script src="../bower_components/bootstrap/js/button.js"></script>
    <script src="../bower_components/bootstrap/js/carousel.js"></script>
    <script src="../bower_components/bootstrap/js/collapse.js"></script>
    <script src="../bower_components/bootstrap/js/dropdown.js"></script>
    <script src="../bower_components/bootstrap/js/tab.js"></script>
    <script src="../bower_components/bootstrap/js/transition.js"></script>
    <script src="../bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="../bower_components/bootstrap/js/modal.js"></script>
    <script src="../bower_components/bootstrap/js/tooltip.js"></script>
    <script src="../bower_components/bootstrap/js/popover.js"></script>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script> 
    <script src="../bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- endbower -->
    
    <!-- ace scripts -->
    
    <!--[if lte IE 8]>
      <script src="../assets/js/excanvas.min.js"></script>
    <![endif]-->
    <script src="assets/js/jquery-ui.custom.min.js"></script>
    <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="assets/js/jquery.easypiechart.min.js"></script>
    <script src="assets/js/jquery.sparkline.min.js"></script>
    <script src="assets/js/flot/jquery.flot.min.js"></script>
    <script src="assets/js/flot/jquery.flot.pie.min.js"></script>
    <script src="assets/js/flot/jquery.flot.resize.min.js"></script>
    
    <script src="assets/js/ace/elements.scroller.js"></script>
    <script src="assets/js/ace/elements.colorpicker.js"></script>
    <script src="assets/js/ace/elements.fileinput.js"></script>
    <script src="assets/js/ace/elements.typeahead.js"></script>
    <script src="assets/js/ace/elements.wysiwyg.js"></script>
    <script src="assets/js/ace/elements.spinner.js"></script>
    <script src="assets/js/ace/elements.treeview.js"></script>
    <script src="assets/js/ace/elements.wizard.js"></script>
    <script src="assets/js/ace/ace.touch-drag.js"></script>
    <script src="assets/js/ace/ace.sidebar.js"></script>
    <script src="assets/js/ace/ace.submenu-1.js"></script>
    <script src="assets/js/ace/ace.sidebar-scroll-1.js"></script>
    <!--script src="assets/js/ace/ace.submenu-hover.js"></script-->
    <script src="assets/js/ace/ace.widget-box.js"></script>
    <script src="assets/js/ace/ace.settings.js"></script>
    <script src="assets/js/ace/ace.settings-rtl.js"></script>
    <script src="assets/js/ace/ace.settings-skin.js"></script>
    <script src="assets/js/ace/ace.widget-on-reload.js"></script>
    <script src="assets/js/ace/ace.searchbox-autocomplete.js"></script>
    <script src="assets/js/ace/ace.js"></script>
<!--    <script src="assets/js/jqGrid/jquery.jqGrid.min.js"></script>-->
    <script src="assets/js/uncompressed/jqGrid/jquery.jqGrid.src.js"></script>
    <script src="assets/js/jqGrid/i18n/grid.locale-pt-br.js"></script>
    <script src="assets/js/uncompressed/select2.js"></script>
    
    <script src="../bower_components/angular-ui-select/dist/select.js"></script> <!-- Change to min on production env -->
    
    
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/components.js -->
    <!-- Initialization -->
    <script src="modules/vod.js"></script>

    <!-- Core/General -->
    <script src="components/router/router.js"></script>
    <script src="components/site-location/site-location-service.js"></script>
    <script src="modules/toaster/toaster.js"></script>
    <script src="modules/breadcrumb/breadcrumb.js"></script>
    <script src="modules/paginator/paginator.js"></script>
    <script src="modules/content-editable/content-editable.js"></script>
    <script src="components/helpers/helpers-service.js"></script> 
    <script src="components/api/api-service.js"></script>
    <script src="components/auth/auth-service.js"></script>
    <script src="components/notification/notification-service.js"></script>
    <script src="components/notification/notification-directive.js"></script>
    <script src="pages/dashboard/overview-service.js"></script>
    <script src="pages/conteudo/ingestao-service.js"></script>
    <script src="components/loading-widget/request-notification.js"></script>
    <script src="components/http-interceptor/http-interceptor.js"></script>

    <script src="components/loading-widget/loading-widget.js"></script>
    <script src="components/grid/grid.js"></script>
    
    <script src="config.js"></script>
    <script src="filters.js"></script>
    
    <!-- Pages -->
    <script src="pages/header/header-controller.js"></script>
    <script src="pages/header/mensagens-service.js"></script>
    <script src="pages/header/notificacoes-service.js"></script>
    <script src="pages/404/404-controller.js"></script>
    <script src="pages/403/403-controller.js"></script>

    <script src="pages/index/index-controller.js"></script>
    <script src="pages/dashboard/dashboard-controller.js"></script>
    <script src="pages/conteudo/conteudo-controller.js"></script>
    <script src="pages/conteudo/categorizacao-controller.js"></script>
    <script src="pages/conteudo/categorizacao-lista-controller.js"></script>
    <script src="pages/assets/assets-categorias-controller.js"></script>
    <script src="pages/assets/assets-pacotes-controller.js"></script>
    <script src="pages/assets/assets-service.js"></script>
    <script src="pages/user/user-register-controller.js"></script>
    <script src="pages/assets/assets-pacotes-controller.js"></script>
    <script src="pages/assets/assets-acervo-controller.js"></script>
    <script src="pages/user/user-services.js"></script>
    <script src="pages/menu/menu-services.js"></script>
    <script src="modules/menu/menu.js"></script>
    <script src="pages/conf-menu-def/conf-menu-def-controller.js"></script>
    <script src="pages/conf-menu-def/menu-detail-controller.js"></script>
    <script src="pages/notification/notification-controller.js"></script>
    <script src="pages/dashboard/equipamentos-service.js"></script>
    <script src="pages/assets/assets-lancamentos-controller.js"></script> 
    <script src="pages/assets/assets-destaques-controller.js"></script>
    <script src="pages/assinantes/assinantes-services.js"></script>
    <script src="pages/assinantes/assinantes-controller.js"></script>
    <script src="pages/purchase/purchase-controller.js"></script>
    <!-- endbuild -->

    <!-- build:remove -->
    <script src="dev.js"></script>
    <!-- endbuild -->

  </body>
</html>
